:root {
  --principal: #fad156;
  --text: "Poppins", sans-serif;
}

body {
  font-family: var(--text);
}

/* SECCION PAQUETES */
#paq {
  color: black;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paq_titulo {
  width: 90%;
  height: 35px;
  margin: 30px 0 15px 0;
  background-color: var(--principal);
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.paq_titulo h2 {
  font-size: 1.8rem;
}

.paq_selec {
  width: 380px;
  height: 35px;
  background-color: var(--principal);
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.paq_selec h3 {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.paq_selec select {
  border: none;
  background-color: var(--principal);
  font-size: 1.1rem;
  border-radius: 0px 20px 20px 0px;
  padding: 2px;
  border-right: 8px solid transparent;
}
.paq_selec select:hover {
  background-color: #ffe8a4;
}

.paq_selec select option {
  font-size: 1.1rem;
}

.paq_contenido {
  width: 90%;
  min-height: 510px;
  margin: 15px 5% 30px 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.paq_falla {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  text-align: center;
}

.paq_box {
  width: 350px;
  background-color: var(--principal);
  height: 500px;
  margin: 15px 10px 15px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paq_portada {
  width: 100%;
  height: 45%;
  border-radius: 10px 10px 0 0;
}

.paq_data {
  width: 95%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.paq_fecha {
  color: #666;
  width: 100%;
}

.paq_data h3 {
  font-size: 1.3rem;
}

.paq_fecha {
  color: #666;
  text-align: left;
}

.paq_data p {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.paq_descripcion {
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
}

.paq_linea {
  width: 95%;
}
.paq_precio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
}
.paq_precio h2 {
  font-size: 1.2rem;
}
.paq_btn_info {
  background-color: green;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  color: white;
}
.paq_btn_info:hover {
  background-color: rgb(24, 192, 24);
}
@media screen and (max-width: 850px) {
  .paq_data h3 {
    font-size: 1.15rem;
  }
  .paq_data p {
    font-size: 0.9rem;
  }
  .paq_btn_info {
    background-color: green;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-size: 1.05rem;
  }
  .paq_box {
    width: 300px;
    background-color: var(--principal);
    height: 450px;
    margin: 10px 8px 10px 8px;
  }
  .paq_contenido {
    width: 95%;
  }
  .paq_btn_info {
    font-size: 1.05rem;
  }
  .paq_selec {
    width: 320px;
  }
  .paq_selec select {
    font-size: 0.9rem;
  }
  .paq_selec h3 {
    font-size: 0.9rem;
  }
  .paq_selec select option {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) and (max-height: 600px) {
  .paq_contenido {
    margin: 10px 2px 15px 2px;
    width: 100%;
  }

  .paq_box {
    width: 90%;
    min-width: 450px;
    height: 250px;
    flex-direction: row;
    margin: 10px 5px 10px 5px;
  }
  .paq_portada {
    height: 100%;
    width: 45%;
    min-width: 280px;
    border-radius: 10px 0 0 10px;
  }
  .paq_data {
    width: 55%;
    height: 100%;
    margin: 5px 3px 5px 3px;
  }
}

/* EXPERIENCIA DE USUARIOS */
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#experiencias {
  margin: 50px auto;
}

#experiencias h3 {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.tarjeta-exp {
  margin: 50px;
  display: flex;
}

.tarjeta {
  width: 200px;
  height: 250px;
  margin-left: 250px;
  background: var(--principal);
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s ease;
  border-radius: 20px;
}

.tarjeta-adelante,
.tarjeta-atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.tarjeta-adelante {
  width: 100%;
}

.img1 {
  background-image: url(../images/1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img2 {
  background-image: url(../images/2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img3 {
  background-image: url(../images/3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img4 {
  background-image: url(../images/4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.tarjeta-atras {
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.tarjeta:hover {
  transform: rotateY(180deg);
}

.tarjeta-experiencia {
  height: 250px;
  width: 40%;
  margin-left: 60px;
  position: unset;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.tarjeta-atras p {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 3);
}

/* Footer */

#footer {
  width: 100%;
  height: 130px;
  background: var(--principal);
  display: block;
  justify-content: center;
}

.social-menu {
  display: flex;
  list-style: none;
  margin-top: 10px;
  gap: 20px;
  justify-content: center;
}

.social-menu li {
  margin-top: 10px;
  font-size: 25px;
  transition: all ease 500ms;
}

.social-menu li a {
  color: black;
}

.Facebook:hover,
.Facebook a:hover {
  color: blue;
  transform: scale(1.5);
}

.Instagram:hover,
.Instagram a:hover {
  transform: scale(1.5);
  color: #ac3cf4;
}

.Twitter:hover,
.Twitter a:hover {
  transform: scale(1.5);
  color: black;
}

.Whatsapp:hover,
.Whatsapp a:hover {
  transform: scale(1.5);
  color: green;
}

.Youtube:hover,
.Youtube a:hover {
  transform: scale(1.5);
  color: red;
}

.text-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 10px;
}

.text-footer2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.menu-elementos {
  display: flex;
  margin-top: 10px;
  list-style: none;
  justify-content: center;
}

.menu-elementos li {
  color: white;
}

.menu-elementos a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.menu-elementos a:hover {
  color: white;
  transform: scale(1.2);
}
